

body {background-color:#c9cbff;}
     hr{"background-color:#94b4a4;
     border-style: dashed;
          height: 2px;
      }

      h1{ font-size: xx-large;
         color:#5eaaa8; 
     }
      h3 { color:#5eaaa8 ; }
      img{ background-color:#c9cbff;
     }
